/* lista delle mie variabili */


$background-button-header: #D2401E;

$hover-li-header: #D3CFAF;

$background-jumbo-testimonial: #EBEBDE;

$color-quote-left: #B7903C;

$color-quote-newspaper: #D2401E;

$bg-color-similBlack: #1C1C1C;




